@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Titillium Web', sans-serif;
}

.nav-icon a img{
    background-color: #87509C;
}
header{
    background: #87509C;
}
#service{
    background-color: #17C2A4;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
}
.service-title h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.service-title p {
    color: white;
}

.text-white{
    color: white;
}
.team-name h1 {
    font-size: 1.4rem;
    color: #3B2D64;
    font-weight: 700;
}
.team-title {
    color: #79D0EE;
    font-weight: 500;
}
.team-name p{
    color: #333;
}
.effect h1::after {
content: "";
display: block;
height: .3rem;
background-color: #14a58c;
width: 6rem;
margin: auto;
margin-top: .7rem;

}

.our-team h1::after{
    background: #c8d9e5;
}
.skill-person h1::after{
    background-color: #e5c37f;
}
.review-title h1::after {
    background-color: #b73c6d;
}
.contact-title h1::after {
    background-color: #273a71;
}
#team {
    background-color: #e7f1f8;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
}
.team-img img {
    width: 12rem;
    height: 12rem;
}
ul.social-icon li {
    list-style: none;
    padding: .7rem;
    display: inline-block;
}
ul.social-icon li a:link {
    color: #fff;
    
}
ul.social-icon li a:link i::before {
    background-color: #bdd1df;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: .5rem;
    transition: .5s;
}
ul.social-icon li a:hover i::before{
    background: #393939;
    transform: rotate(360deg);
} 
#skill{
    padding-top: 2rem;
    padding-bottom: 4.5rem;
}
svg.web-design circle{
stroke-width: 6 !important;
stroke: #30bae7 !important;
}
svg.html-css circle{
    stroke-width: 6 !important;
    stroke: #d74680 !important;
}
svg.graphic-design circle {
    stroke: #15c7a8 !important;
    stroke-width: 6 !important;
}
svg.ui-ux circle{
    stroke: #eb7d4b !important;
    stroke-width: 6 !important;
}

#portfolio{
    background-color: #ffdd99;
    padding-bottom: 4.5rem;
    padding-top: 2rem;
}
.client img{
    width: 100px;
    border-radius: 50%;
}
.client-details p {
    font-size: 1.2rem;
    font-style: italic;
    color: white;
}

.client-details h1 {
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
}

.client-details span {
    color: #ffdd99;
    font-size: 17px;
    font-weight: 500;
}
#review{
    background-color: #d74680;
    padding-top: 2rem;
    padding-bottom: 4.5rem;
}

#contact-us{
background-color: #3c5499;
padding-top: 2rem;
padding-bottom: 4.5rem;
}
.input-color{
    background-color: #273a71 !important;
    border: none!important;
    color: white !important;
}
footer{
    background-color: #344b8e;
}
.footer-icon li a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    display: inline-block;
    padding: 5px;
    transition: .5s;
}
.footer-icon li a:hover{
color: #757575 !important;
}
.project-btn {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    border: none !important;
    color: white !important;
}